In [1]:
# Import required packages 
from __future__ import division, print_function # Imports from __future__ since we're running Python 2
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# 读取文件
shop_path = os.path.join(os.path.dirname(os.getcwd()), 'data', 'ccf_first_round_shop_info.csv')
user_path = os.path.join(os.path.dirname(os.getcwd()), 'data', 'ccf_first_round_user_shop_behavior.csv')
eval_path = os.path.join(os.path.dirname(os.getcwd()), 'data', 'evaluation_public.csv')

shop_train = pd.read_csv(shop_path, delimiter = ',')
user_train = pd.read_csv(user_path, delimiter = ',')
evaluation_data =  pd.read_csv(eval_path, delimiter = ',')
# landsat_test = pd.read_csv(test_path, delimiter = ',')

# 店铺和商场信息

In [3]:
shop_train.head(n=5)

  shop_id category_id   longitude   latitude  price mall_id
0    s_26         c_4  122.346736  31.833507     57   m_690
1   s_133         c_6  121.134362  31.197511     58  m_6587
2   s_251        c_38  121.000505  30.907667     34  m_5892
3   s_372        c_30  119.864982  26.659876     44   m_625
4   s_456        c_26  122.594243  31.581499     44  m_3839

In [4]:
shop_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8477 entries, 0 to 8476
Data columns (total 6 columns):
shop_id        8477 non-null object
category_id    8477 non-null object
longitude      8477 non-null float64
latitude       8477 non-null float64
price          8477 non-null int64
mall_id        8477 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 397.4+ KB

In [5]:
shop_train.describe()

         longitude     latitude        price
count  8477.000000  8477.000000  8477.000000
mean    117.426526    32.961908    50.527309
std       4.367982     4.687368     9.416713
min     104.414352    23.157355    24.000000
25%     114.829869    30.911022    43.000000
50%     118.192157    32.181703    50.000000
75%     120.927247    36.827750    59.000000
max     123.801593    42.367802    88.000000

In [6]:
# 检测有多少个商场，以及他们的名字
unique_mall = []
idx = 0
for i in range(len(shop_train['mall_id'])):
    if shop_train['mall_id'][i] not in unique_mall:
        unique_mall.append(shop_train['mall_id'][i])
        idx += 1
print(unique_mall)
print(len(unique_mall))

['m_690', 'm_6587', 'm_5892', 'm_625', 'm_3839', 'm_3739', 'm_1293', 'm_1175', 'm_2182', 'm_2058', 'm_3871', 'm_3005', 'm_822', 'm_2467', 'm_4406', 'm_909', 'm_4923', 'm_2224', 'm_2333', 'm_4079', 'm_5085', 'm_2415', 'm_4543', 'm_7168', 'm_2123', 'm_4572', 'm_1790', 'm_3313', 'm_4459', 'm_1409', 'm_979', 'm_7973', 'm_1375', 'm_4011', 'm_1831', 'm_4495', 'm_1085', 'm_3445', 'm_626', 'm_8093', 'm_4828', 'm_6167', 'm_3112', 'm_4341', 'm_622', 'm_4422', 'm_2267', 'm_615', 'm_4121', 'm_9054', 'm_4515', 'm_1950', 'm_3425', 'm_3501', 'm_4548', 'm_5352', 'm_3832', 'm_1377', 'm_1621', 'm_1263', 'm_2578', 'm_2270', 'm_968', 'm_1089', 'm_7374', 'm_2009', 'm_6337', 'm_7601', 'm_623', 'm_5154', 'm_5529', 'm_4168', 'm_3916', 'm_2878', 'm_9068', 'm_3528', 'm_4033', 'm_3019', 'm_1920', 'm_8344', 'm_6803', 'm_3054', 'm_8379', 'm_1021', 'm_2907', 'm_4094', 'm_4187', 'm_5076', 'm_3517', 'm_2715', 'm_5810', 'm_5767', 'm_4759', 'm_5825', 'm_7994', 'm_7523', 'm_7800']
97

# 用户在店铺内交易信息

In [8]:
user_train.head(n=5)

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos
0,u_376,s_2871718,2017-08-06 21:20,122.308291,32.088040,b_6396480|-67|false;b_41124514|-86|false;b_287...
1,u_376,s_2871718,2017-08-06 21:20,122.308162,32.087970,b_6396480|-67|false;b_56328155|-73|false;b_411...
2,u_1041,s_181637,2017-08-02 13:10,117.365255,40.638214,b_8006367|-78|false;b_2485110|-52|false;b_3005...
3,u_1158,s_609470,2017-08-13 12:30,121.134451,31.197416,b_26250579|-73|false;b_26250580|-64|false;b_26...
4,u_1654,s_3816766,2017-08-25 19:50,122.255867,31.351320,b_39004150|-66|false;b_39004148|-58|false;b_21...

In [9]:
user_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138015 entries, 0 to 1138014
Data columns (total 6 columns):
user_id       1138015 non-null object
shop_id       1138015 non-null object
time_stamp    1138015 non-null object
longitude     1138015 non-null float64
latitude      1138015 non-null float64
wifi_infos    1138015 non-null object
dtypes: float64(2), object(4)
memory usage: 52.1+ MB

In [10]:
user_train.describe()

          longitude      latitude
count  1.138015e+06  1.138015e+06
mean   1.174162e+02  3.286613e+01
std    4.359182e+00  4.392070e+00
min   -1.139504e+02  5.364270e-01
25%    1.146429e+02  3.097768e+01
50%    1.180478e+02  3.208677e+01
75%    1.210030e+02  3.525854e+01
max    1.271192e+02  5.110064e+01

In [11]:
# 建立shop_id 到mall_id的映射
shop2mall = shop_train.set_index('shop_id').to_dict()['mall_id']
# 在user_train数据集中，根据shop2mall新建一个叫mall_id的特征
mall_id = []
for item in user_train['shop_id']:
    mall_id.append(shop2mall[item])
# 在user_train中增加一个feature，mall_id，新的训练集叫user_train_mall_added
user_train_mall_added = user_train.assign(mall_id=mall_id)

In [12]:
# 按照mall_id 排序
user_train_mall_added_sorted = user_train_mall_added.sort(columns='mall_id')
# 按照shop_id 排序
user_train_mall_added_sorted_by_shop = user_train_mall_added.sort(columns='shop_id')

/Users/zhaosiyuan/anaconda/envs/dme_env/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app
/Users/zhaosiyuan/anaconda/envs/dme_env/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [30]:
# 根据mall_id分组
user_train_grouped = user_train_mall_added.groupby('mall_id')
train_sets = []
for mall_id in unique_mall:
    train_sets.append(user_train_grouped.get_group(mall_id))

In [135]:
def filter_bssid(input_df, KEEP_PER = 1e-3):
    '''
    输出要保留的wifi特征名，保存成list输出
    
    input_df:
        输入数据集，pandas.DATAFRAME
    
    KEEP_PER:
        bssid保留的底线比例，是某个bssid总共被扫描次数占全部bssid的总共被扫描次数
        该比例最小为1/全部bssid的总共被扫描次数，最多为全部数据集个数/全部bssid的总共被扫描次数
    '''
    # 读取所以可被发现的wifi bssid，并将发现总次数存入wifi_counts中
    wifi_counts = {}
    for wifi_info in input_df['wifi_infos']:
        for bssid in wifi_info.split(';'):
            bssid = bssid.split('|')[0]
            if bssid not in wifi_counts:
                wifi_counts[bssid] = 1
            else:
                wifi_counts[bssid] += 1
    
    # 存放准备保留的wifi bssid
    bssids = []
    min_num_wifi = sum(wifi_counts.values())*KEEP_PER
    for key,values in wifi_counts.items():
        if values > min_num_wifi:
            bssids.append(key)
    
    i = 0
    counts = False
    for wifi_info in input_df['wifi_infos']:
        for bssid in wifi_info.split(';'):
            bssid, strength, _ = bssid.split('|')
            if bssid in bssids:
                counts = True
        if counts:
            i += 1
    print("percentage of useful wifi scans: %", i/input_df.shape[0]*100)
    
    return bssids


def expand_wifi_feature(input_df, bssids):
    '''
    根据给定的bssid list和DataFrame，拓展特征空间
    input_df: Pandas.DataFrame

    bssids: 准备拓展的bssid list
    '''
    test = input_df.copy()
    # 建立全部强度值为-110的wifi特征
    wifi_features = np.zeros((test.shape[0], len(bssids)), dtype='int')
    wifi_features += -110
    wifi_features
    df_wifi = pd.DataFrame(wifi_features, columns = bssids)
    df_wifi.set_index(test.index, inplace=True)
    test = test.join(df_wifi)

    # 替换部分可被扫描的wifi信号强度为
    for i in test.index:
        wifi_info = test.loc[i, 'wifi_infos']   
        bssid2strength = {}
        for data in wifi_info.split(';'):
            bssid, strength, _ = data.split('|')
            bssid2strength[bssid] = int(strength)
        all_bssid = bssid2strength.keys()
        for bssid in all_bssid:
            if bssid in bssids:
                test.loc[i, bssid] = bssid2strength[bssid]
    return test

def standardize(input_df):
    '''
    标准化经纬度，wifi信号强度
    '''
    # 分别标准化经纬度
    cols_to_norm = ['longitude', 'latitude']
    input_df.loc[:, cols_to_norm] = input_df.loc[:, cols_to_norm].apply(lambda x: (x - x.mean()) / x.std())
    
    # 整体标准化bssids
    cols_to_norm = bssids
    mean = np.mean(input_df.loc[:, cols_to_norm].as_matrix())
    std = np.std(input_df.loc[:, cols_to_norm].as_matrix())
    input_df.loc[:, cols_to_norm] = (input_df.loc[:, cols_to_norm] - mean)/std
    input_df.loc[:, cols_to_norm] = input_df[bssids].astype('float16') #降低空间需求

In [314]:
# 对每个训练集输出成csv
for df in train_sets[:1]:
    bssids = filter_bssid(df)
    df = expand_wifi_feature(df, bssids)
    standardize(df)
    df.to_csv(df.iloc[-1,6] + '.csv')

percentage of useful wifi scans: % 100.0

In [289]:
test = train_sets[1].copy()    
bssids = filter_bssid(test)
test = expand_wifi_feature(test, bssids)

percentage of useful wifi scans: % 100.0

In [295]:
test.head()

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos,mall_id,b_32429352,b_44536729,b_26250479,...,b_21667404,b_14932675,b_26250607,b_26250602,b_26250603,b_26250609,b_57038543,b_51988715,b_30580001,b_15074731
3,u_1158,s_609470,2017-08-13 12:30,-0.009350,-0.055700,b_26250579|-73|false;b_26250580|-64|false;b_26...,m_6587,-0.145624,-0.145624,-0.145624,...,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624
147,u_29096,s_609470,2017-08-28 18:50,-0.011070,-0.055426,b_30424471|-51|true;b_26250578|-74|false;b_262...,m_6587,-0.145624,-0.145624,-0.145624,...,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624
148,u_29096,s_8178,2017-08-01 12:40,-0.024191,-0.048976,b_14288308|-61|false;b_14932675|-71|false;b_31...,m_6587,-0.145624,-0.145624,-0.145624,...,-0.145624,6.057718,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624
149,u_29096,s_3858056,2017-08-14 11:40,-0.009403,-0.043572,b_22161604|-84|false;b_44536729|-75|false;b_29...,m_6587,-0.145624,5.421478,-0.145624,...,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624
150,u_29096,s_428339,2017-08-03 12:30,-0.007559,-0.058813,b_26250696|-74|false;b_26250518|-79|false;b_26...,m_6587,-0.145624,-0.145624,-0.145624,...,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624,-0.145624

In [310]:
test.loc[:, bssids] = test[bssids].astype('float16')

In [312]:
test.to_csv(test.iloc[-1,6] + '.csv')

In [432]:
dist_bssid = sorted(wifi_counts.items(), key=lambda x:x[1], reverse=True)

# 预测集

In [31]:
evaluation_data.head(n=5)

,row_id,user_id,mall_id,time_stamp,longitude,latitude,wifi_infos
0,118742,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...
1,118743,u_30097803,m_5085,2017-09-06 13:10,118.191907,32.855858,b_36722251|-81|false;b_10537579|-75|false;b_43...
2,118744,u_30097889,m_4033,2017-09-06 17:40,119.192110,32.424667,b_30026291|-74|false;b_30026290|-74|false;b_36...
3,118745,u_30098996,m_4515,2017-09-03 12:10,120.612201,34.055249,b_33412374|-77|false;b_22084893|-86|false;b_52...
4,118746,u_30099170,m_7168,2017-09-02 20:40,116.861989,40.326858,b_19882704|-77|false;b_2241462|-49|false;b_585...

In [38]:
evaluation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483931 entries, 0 to 483930
Data columns (total 7 columns):
row_id        483931 non-null int64
user_id       483931 non-null object
mall_id       483931 non-null object
time_stamp    483931 non-null object
longitude     483931 non-null float64
latitude      483931 non-null float64
wifi_infos    483931 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 25.8+ MB

In [39]:
evaluation_data.describe()

              row_id      longitude       latitude
count  483931.000000  483931.000000  483931.000000
mean   241966.000000     117.520898      32.880096
std    139698.990897       4.236408       4.496274
min         1.000000      87.841705      22.766598
25%    120983.500000     114.831137      30.965195
50%    241966.000000     118.048544      31.975273
75%    362948.500000     121.002735      35.552129
max    483931.000000     127.119151      47.581047