In [24]:
# Import required packages 
from __future__ import division, print_function # Imports from __future__ since we're running Python 2
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
# 读取文件
shop_path = os.path.join(os.path.dirname(os.getcwd()), 'data', 'ccf_first_round_shop_info.csv')
user_path = os.path.join(os.path.dirname(os.getcwd()), 'data', 'ccf_first_round_user_shop_behavior.csv')
eval_path = os.path.join(os.path.dirname(os.getcwd()), 'data', 'evaluation_public.csv')

shop_train = pd.read_csv(shop_path, delimiter = ',')
user_train = pd.read_csv(user_path, delimiter = ',')
evaluation_data =  pd.read_csv(eval_path, delimiter = ',')
# landsat_test = pd.read_csv(test_path, delimiter = ',')

# 店铺和商场信息

In [288]:
shop_train.head(n=5)

  shop_id category_id   longitude   latitude  price mall_id
0    s_26         c_4  122.346736  31.833507     57   m_690
1   s_133         c_6  121.134362  31.197511     58  m_6587
2   s_251        c_38  121.000505  30.907667     34  m_5892
3   s_372        c_30  119.864982  26.659876     44   m_625
4   s_456        c_26  122.594243  31.581499     44  m_3839

In [289]:
shop_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8477 entries, 0 to 8476
Data columns (total 6 columns):
shop_id        8477 non-null object
category_id    8477 non-null object
longitude      8477 non-null float64
latitude       8477 non-null float64
price          8477 non-null int64
mall_id        8477 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 397.4+ KB

In [291]:
shop_train.describe()

         longitude     latitude        price
count  8477.000000  8477.000000  8477.000000
mean    117.426526    32.961908    50.527309
std       4.367982     4.687368     9.416713
min     104.414352    23.157355    24.000000
25%     114.829869    30.911022    43.000000
50%     118.192157    32.181703    50.000000
75%     120.927247    36.827750    59.000000
max     123.801593    42.367802    88.000000

In [292]:
# 检测有多少个商场，以及他们的名字
unique_mall = []
idx = 0
for i in range(len(shop_train['mall_id'])):
    if shop_train['mall_id'][i] not in unique_mall:
        unique_mall.append(shop_train['mall_id'][i])
        idx += 1
print(unique_mall)
print(len(unique_mall))

['m_690', 'm_6587', 'm_5892', 'm_625', 'm_3839', 'm_3739', 'm_1293', 'm_1175', 'm_2182', 'm_2058', 'm_3871', 'm_3005', 'm_822', 'm_2467', 'm_4406', 'm_909', 'm_4923', 'm_2224', 'm_2333', 'm_4079', 'm_5085', 'm_2415', 'm_4543', 'm_7168', 'm_2123', 'm_4572', 'm_1790', 'm_3313', 'm_4459', 'm_1409', 'm_979', 'm_7973', 'm_1375', 'm_4011', 'm_1831', 'm_4495', 'm_1085', 'm_3445', 'm_626', 'm_8093', 'm_4828', 'm_6167', 'm_3112', 'm_4341', 'm_622', 'm_4422', 'm_2267', 'm_615', 'm_4121', 'm_9054', 'm_4515', 'm_1950', 'm_3425', 'm_3501', 'm_4548', 'm_5352', 'm_3832', 'm_1377', 'm_1621', 'm_1263', 'm_2578', 'm_2270', 'm_968', 'm_1089', 'm_7374', 'm_2009', 'm_6337', 'm_7601', 'm_623', 'm_5154', 'm_5529', 'm_4168', 'm_3916', 'm_2878', 'm_9068', 'm_3528', 'm_4033', 'm_3019', 'm_1920', 'm_8344', 'm_6803', 'm_3054', 'm_8379', 'm_1021', 'm_2907', 'm_4094', 'm_4187', 'm_5076', 'm_3517', 'm_2715', 'm_5810', 'm_5767', 'm_4759', 'm_5825', 'm_7994', 'm_7523', 'm_7800']
97

In [130]:
wifi_bssid = []
for item in user_train_mall_added_sorted.head(n=10)['wifi_infos']:
    for wifi in item.split(';'):
        bssid = wifi.split('|')[0]
        if bssid in wifi_bssid:
            print(bssid)
        else:
            wifi_bssid.append(bssid)

/Users/zhaosiyuan/anaconda/envs/dme_env/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

# 用户在店铺内交易信息

In [293]:
user_train.head(n=5)

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos
0,u_376,s_2871718,2017-08-06 21:20,122.308291,32.088040,b_6396480|-67|false;b_41124514|-86|false;b_287...
1,u_376,s_2871718,2017-08-06 21:20,122.308162,32.087970,b_6396480|-67|false;b_56328155|-73|false;b_411...
2,u_1041,s_181637,2017-08-02 13:10,117.365255,40.638214,b_8006367|-78|false;b_2485110|-52|false;b_3005...
3,u_1158,s_609470,2017-08-13 12:30,121.134451,31.197416,b_26250579|-73|false;b_26250580|-64|false;b_26...
4,u_1654,s_3816766,2017-08-25 19:50,122.255867,31.351320,b_39004150|-66|false;b_39004148|-58|false;b_21...

In [294]:
user_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138015 entries, 0 to 1138014
Data columns (total 6 columns):
user_id       1138015 non-null object
shop_id       1138015 non-null object
time_stamp    1138015 non-null object
longitude     1138015 non-null float64
latitude      1138015 non-null float64
wifi_infos    1138015 non-null object
dtypes: float64(2), object(4)
memory usage: 52.1+ MB

In [296]:
user_train.describe()

          longitude      latitude
count  1.138015e+06  1.138015e+06
mean   1.174162e+02  3.286613e+01
std    4.359182e+00  4.392070e+00
min   -1.139504e+02  5.364270e-01
25%    1.146429e+02  3.097768e+01
50%    1.180478e+02  3.208677e+01
75%    1.210030e+02  3.525854e+01
max    1.271192e+02  5.110064e+01

In [298]:
# 建立shop_id 到mall_id的映射
shop2mall = shop_train.set_index('shop_id').to_dict()['mall_id']
# 在user_train数据集中，根据shop2mall新建一个叫mall_id的特征
mall_id = []
for item in user_train['shop_id']:
    mall_id.append(shop2mall[item])
# 在user_train中增加一个feature，mall_id，新的训练集叫user_train_mall_added
user_train_mall_added = user_train.assign(mall_id=mall_id)

In [347]:
# 按照mall_id 排序
user_train_mall_added_sorted = user_train_mall_added.sort(columns='mall_id')
# 按照shop_id 排序
user_train_mall_added_sorted_by_shop = user_train_mall_added.sort(columns='shop_id')

/Users/zhaosiyuan/anaconda/envs/dme_env/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app
/Users/zhaosiyuan/anaconda/envs/dme_env/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [356]:
test = user_train_mall_added_sorted[0:2000]

In [358]:
test

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos,mall_id
1012827,u_26411643,s_235089,2017-08-16 12:40,107.516319,29.738204,b_7028743|-66|false;b_21307875|-80|false;b_620...,m_1021
1032562,u_32653661,s_3606217,2017-08-05 14:00,107.516784,29.737965,b_6207710|-36|false;b_5864499|-73|true;b_70300...,m_1021
593985,u_37222688,s_864831,2017-08-15 14:00,107.517260,29.738167,b_43850990|-62|false;b_7029648|-60|false;b_640...,m_1021
819937,u_36899358,s_1465447,2017-08-10 13:10,107.516936,29.738871,b_49466117|-62|false;b_6203569|-58|false;b_279...,m_1021
594202,u_37315644,s_1440728,2017-08-30 17:20,107.516762,29.738411,b_6787665|-67|false;b_15115266|-57|false;b_209...,m_1021
1032287,u_32562351,s_1864863,2017-08-26 13:00,107.516930,29.738877,b_46279960|-61|false;b_21568170|-59|false;b_27...,m_1021
156636,u_42514075,s_235089,2017-08-19 12:00,107.516531,29.738206,b_36013566|-74|false;b_33407457|-52|false;b_33...,m_1021
156650,u_42520758,s_783000,2017-08-22 17:40,107.517126,29.738062,b_30592019|-51|false;b_22406136|-41|false;b_40...,m_1021
363012,u_36104790,s_864831,2017-08-07 18:20,107.517371,29.738330,b_6411449|-52|true;b_20464503|-55|false;b_1541...,m_1021
1124826,u_59911715,s_321721,2017-08-06 16:30,107.517374,29.738244,b_33558760|-85|false;b_20402787|-50|false;b_62...,m_1021
269366,u_9573353,s_864831,2017-08-21 11:20,107.517379,29.738310,b_7107094|-77|false;b_6411465|-73|false;b_7107...,m_1021
52483,u_12157578,s_638541,2017-08-29 15:40,107.516737,29.738437,b_6203475|-50|false;b_22384902|-44|false;b_547...,m_1021
362917,u_36076931,s_3606217,2017-08-19 20:10,107.516337,29.737810,b_21606011|-71|false;b_36025090|-79|false;b_70...,m_1021
269275,u_9538066,s_235089,2017-08-29 17:50,107.516374,29.738023,b_24539379|-61|false;b_8899495|-59|false;b_334...,m_1021
1031821,u_32398399,s_547665,2017-08-09 13:50,107.517435,29.738225,b_7028664|-72|false;b_6231485|-69|false;b_7038...,m_1021
595070,u_37616090,s_629930,2017-08-15 17:40,107.517334,29.738266,b_20464503|-63|false;b_19593852|-79|false;b_57...,m_1021
819579,u_36768714,s_321721,2017-08-04 18:50,107.517371,29.738214,b_57007899|-51|false;b_23452853|-87|false;b_62...,m_1021
269147,u_9482255,s_235089,2017-08-23 11:50,107.516448,29.738107,b_6411486|-58|false;b_6203509|-53|false;b_6203...,m_1021
1031648,u_32329906,s_44919,2017-08-27 11:50,107.516722,29.738417,b_7028736|-44|false;b_7107038|-72|false;b_6787...,m_1021
52634,u_12187233,s_235089,2017-08-15 11:10,107.516549,29.738207,b_6411450|-80|false;b_33407457|-47|false;b_528...,m_1021
268991,u_9435407,s_396464,2017-08-06 09:30,107.517689,29.738633,b_55567270|-51|false;b_32625969|-50|false;b_45...,m_1021
268990,u_9435407,s_396464,2017-08-02 16:00,107.517728,29.738568,b_39831783|-64|false;b_55567270|-47|false;b_32...,m_1021
595751,u_37908993,s_235089,2017-08-26 12:50,107.516381,29.738025,b_52864823|-84|false;b_23480072|-76|false;b_33...,m_1021
819483,u_36732202,s_864831,2017-08-21 16:40,107.517408,29.738318,b_15413397|-70|false;b_27970710|-57|false;b_64...,m_1021
406022,u_48900311,s_958323,2017-08-23 16:50,107.517516,29.738895,b_15238522|-76|false;b_55567270|-71|false;b_39...,m_1021
1031839,u_32400671,s_3606217,2017-08-12 20:00,107.517764,29.738198,b_15143629|-51|false;b_18067897|-81|false;b_64...,m_1021
595994,u_37991250,s_3121923,2017-08-19 21:50,107.517740,29.738608,b_50001233|-70|false;b_32625969|-49|false;b_40...,m_1021
406444,u_49017462,s_496570,2017-08-13 18:20,107.517224,29.738422,b_31079552|-54|false;b_6140280|-49|false;b_614...,m_1021
921501,u_1734096,s_496570,2017-08-18 20:20,107.517252,29.738405,b_40149672|-58|false;b_31584577|-60|false;b_31...,m_1021
270927,u_10139431,s_629930,2017-08-04 20:00,107.517348,29.738202,b_7028751|-62|false;b_6411465|-58|false;b_6203...,m_1021
...,...,...,...,...,...,...,...
859019,u_48224004,s_57565,2017-08-06 20:00,107.517449,29.738186,b_29318301|-62|false;b_7107049|-80|false;b_641...,m_1021
859014,u_48221902,s_3423909,2017-08-06 12:50,107.517655,29.738694,b_38313773|-70|false;b_47824234|-44|false;b_55...,m_1021
137743,u_36517522,s_396464,2017-08-31 14:50,107.517715,29.738651,b_37943569|-70|false;b_7029738|-68|false;b_228...,m_1021
469671,u_2509576,s_783000,2017-08-28 17:20,107.517150,29.738061,b_7028726|-65|false;b_30592019|-39|false;b_305...,m_1021
1092881,u_50334423,s_3816514,2017-08-06 21:00,107.516871,29.738872,b_17613850|-36|false;b_10122570|-52|false;b_70...,m_1021
137826,u_36528270,s_958323,2017-08-27 13:30,107.517493,29.738916,b_49466310|-58|false;b_40218436|-77|false;b_13...,m_1021
858559,u_48099464,s_3228278,2017-08-05 12:20,107.516806,29.738614,b_6203493|-63|false;b_7028741|-77|false;b_7107...,m_1021
22977,u_4124877,s_396464,2017-08-27 13:30,107.517771,29.738569,b_32625970|-73|false;b_39831783|-68|false;b_57...,m_1021
858494,u_48082132,s_2921720,2017-08-14 13:40,107.517370,29.738372,b_878887|-42|false;b_33557640|-60|false;b_3052...,m_1021
330750,u_26736172,s_1407220,2017-08-12 15:30,107.517328,29.738304,b_6991755|-61|false;b_22384837|-52|false;b_204...,m_1021
330658,u_26698354,s_629930,2017-08-01 17:30,107.517387,29.738231,b_3702539|-58|false;b_22384837|-66|false;b_879...,m_1021
330555,u_26668649,s_783000,2017-08-13 19:00,107.517140,29.738047,b_6207732|-53|false;b_7028726|-70|false;b_6411...,m_1021
471160,u_2782138,s_235089,2017-08-21 19:40,107.516381,29.738017,b_33407329|-48|false;b_6203480|-60|false;b_245...,m_1021
858273,u_48026289,s_44919,2017-08-11 18:50,107.516696,29.738360,b_7028736|-47|false;b_34569238|-49|false;b_421...,m_1021
330480,u_26649942,s_235089,2017-08-05 18:20,107.516398,29.738007,b_2682639|-79|false;b_24488534|-85|false;b_334...,m_1021
427705,u_55538925,s_394841,2017-08-15 20:50,107.517136,29.738588,b_22384851|-49|false;b_38039510|-45|false;b_62...,m_1021
330930,u_26777581,s_1864863,2017-08-21 12:00,107.517221,29.739212,b_9283413|-80|false;b_49466117|-81|false;b_335...,m_1021
332409,u_27230852,s_2902419,2017-08-06 13:00,107.517238,29.738409,b_14599432|-59|false;b_6411448|-68|true;b_5530...,m_1021
469593,u_2494945,s_235089,2017-08-24 11:50,107.515968,29.738189,b_7028743|-59|false;b_24539379|-82|false;b_334...,m_1021
1114826,u_56829101,s_382315,2017-08-09 16:40,107.516606,29.737613,b_33558678|-52|false;b_36656666|-13|false;b_30...,m_1021
332407,u_27230852,s_2902419,2017-08-03 21:30,107.517448,29.738323,b_14117233|-68|false;b_6203425|-74|false;b_606...,m_1021
467794,u_2180674,s_3023891,2017-08-18 19:00,107.516186,29.738023,b_55624179|-54|false;b_1656713|-34|false;b_568...,m_1021
428379,u_55731370,s_44919,2017-08-22 10:50,107.516712,29.738385,b_22384902|-23|false;b_38037778|-55|false;b_29...,m_1021
1114635,u_56779802,s_1889577,2017-08-05 20:30,107.516938,29.738864,b_44401000|-67|false;b_35881901|-81|false;b_33...,m_1021
859627,u_48368145,s_638541,2017-08-27 17:00,107.516740,29.738440,b_38037778|-36|false;b_20494195|-75|false;b_34...,m_1021
896396,u_59333701,s_697497,2017-08-09 12:20,107.517027,29.738597,b_29287977|-69|false;b_38350227|-41|true;b_205...,m_1021
332248,u_27159619,s_3228278,2017-08-21 12:40,107.516753,29.739403,b_24519420|-69|false;b_10122570|-75|false;b_51...,m_1021
896377,u_59326612,s_3408776,2017-08-16 15:30,107.516763,29.738423,b_15115266|-41|false;b_6411454|-77|false;b_710...,m_1021
130882,u_34468193,s_57565,2017-08-20 19:30,107.517231,29.738593,b_6207762|-81|false;b_21610307|-73|false;b_154...,m_1021
137423,u_36426107,s_3228278,2017-08-13 13:00,107.516818,29.738759,b_45920497|-75|false;b_43823155|-66|false;b_45...,m_1021

In [359]:
wifi_list = []
for wifi_info in test['wifi_infos']:
    for bssid in wifi_info.split(';'):
        bssid = bssid.split('|')[0]
        if bssid not in wifi_list:
            wifi_list.append(bssid)

In [360]:
len(wifi_list)

2103

# 预测集

In [31]:
evaluation_data.head(n=5)

,row_id,user_id,mall_id,time_stamp,longitude,latitude,wifi_infos
0,118742,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...
1,118743,u_30097803,m_5085,2017-09-06 13:10,118.191907,32.855858,b_36722251|-81|false;b_10537579|-75|false;b_43...
2,118744,u_30097889,m_4033,2017-09-06 17:40,119.192110,32.424667,b_30026291|-74|false;b_30026290|-74|false;b_36...
3,118745,u_30098996,m_4515,2017-09-03 12:10,120.612201,34.055249,b_33412374|-77|false;b_22084893|-86|false;b_52...
4,118746,u_30099170,m_7168,2017-09-02 20:40,116.861989,40.326858,b_19882704|-77|false;b_2241462|-49|false;b_585...

In [38]:
evaluation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483931 entries, 0 to 483930
Data columns (total 7 columns):
row_id        483931 non-null int64
user_id       483931 non-null object
mall_id       483931 non-null object
time_stamp    483931 non-null object
longitude     483931 non-null float64
latitude      483931 non-null float64
wifi_infos    483931 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 25.8+ MB

In [39]:
evaluation_data.describe()

              row_id      longitude       latitude
count  483931.000000  483931.000000  483931.000000
mean   241966.000000     117.520898      32.880096
std    139698.990897       4.236408       4.496274
min         1.000000      87.841705      22.766598
25%    120983.500000     114.831137      30.965195
50%    241966.000000     118.048544      31.975273
75%    362948.500000     121.002735      35.552129
max    483931.000000     127.119151      47.581047